.navbar{
	min-height: 64px !important; 
	border: 0 none !important; 
	border-radius: 0 !important;
}
.navbar-inverse{
	background-color: #000 !important;
	background-image: none !important;
}
.navbar-nav{margin-top: 7px !important; margin-left: 64px !important; float: right !important;}
.navbar-nav > li{
	display: inline-block;
}
.navbar-nav > li > a, .navbar-nav > li > a > a{
	color: #fff !important;
	font-family: 'Roboto', sans-serif;
	font-weight: 300 !important;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	opacity: 0.8;
}
.navbar-nav > li > a.active{opacity: 1.0;}
.navbar > .container .navbar-brand{
	background: #cacaca;
	color: #3e5561 !important;
	border: 4px solid #efefef;
	border-radius: 50%;
	height: auto !important;
	margin-top: 7px;
    font-size: 18px;
    padding: 0;
    width: 50px;
    height: 50px !important;
    line-height: 47px;
    display: block;
    text-align: center;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
	color: #3e5561 !important;
    background-color: #cacaca !important;
}
@media all and (max-width: 768px){
	.navbar > .container .navbar-brand{margin-bottom: 8px;}
	.navbar-toggle{margin-top: 15px !important;}
	.navbar > .container .navbar-brand{ margin-left: 15px;}
	.navbar-nav{margin-left: 15px !important; float: left !important;}
}