p{font-weight: 400;}
.skill-icon{
	font-size: 48px;
	color: #9cadb5;
}
.progress{
	height: 12px !important;
	border-radius: 8px !important;
}
.skill-strength-wrapper{
	margin-bottom: 16px;
}
.skill-title{
	margin-bottom: 2px;
	font-weight: 400;
	color:#3e5561;
}
.bar-custom-design{
	border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(62, 85, 97) !important;
    background-image: none !important;
}